<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  >
</head>
<body>
<div class="container">
  <h1>Products</h1>
  <br>
  <p>
    <a href="{% url 'invalidate_cache' %}" class="btn btn-primary">Invalidate cache</a>
    &nbsp;
    <a href="{% url 'create' %}" class="btn btn-secondary">New product</a>
  </p>
  <hr><br><br>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Created</th>
        <th scope="col">Updated</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.title }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.created }}</td>
          <td>{{ product.updated }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="/{{ product.id }}/update/" class="btn btn-warning">Update</a>
              <a href="/{{ product.id }}/delete/" class="btn btn-danger">Delete</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>
